body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQ-RlSqjfdQDOtV2FYdxL_0SiZKcKVplnoPQ&usqp=CAU");
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}





.header {
  color: white;
  background-color: rgb(156, 115, 161);
  
}


.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  color: white;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}